        <!-- Footer-->
        <footer class="border-top">
          <div class="container px-4 px-lg-5">
              <div class="row gx-4 gx-lg-5 justify-content-center">
                  <div class="col-md-10 col-lg-8 col-xl-7">
                      <ul class="list-inline text-center">
                          <li class="list-inline-item">
                              <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQHYRdWGwRQmTgAAAZ3GZlsQCDdCzBR6TCSl_N-_rr75Q1r-1a5kPqWIDkGK_6ZAkllZUZWr1_yZFniwSx00psVHDghIxCTg-mt8asj8r6oz_BKXp7KC8tw0IFU_BEGD5nhX4aw=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fmurilo-suhett-do-nascimento-8088a527b%2F">
                                  <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a href="https://github.com/murilo-suhett">
                                  <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                      </ul>
                      <div class="small text-center text-muted fst-italic">Copyright &copy; Murilo's Blog 2026</div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
